$accent:  #0ea500;
$bg_card: #f0f0f0;
$letter:#ffffff;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

header {
   position: sticky;
   top: 0;
   left: 0;
   height: 100px;
   background-color: $accent;
   color: $letter;
   font-weight: bold;
   text-align: center;
   line-height: 100px;
}

main {
   padding: 60px 0;
   width: 90%;
   display: flex;
   margin: auto;
   flex-direction: column;
   gap: 50px;
   justify-content: space-evenly;

   h1 {
      text-align: center;
   }
}

form {
   text-align: center;
   margin: 2%;
   background-color: #e6e6e6;
   padding: 5px;
   border-radius: 10px;
   box-shadow: #0520028e 1px 1px 5px ;

   input {
      margin: 1%;
      padding: 10px;
      border-radius: 10px;
      border: none;
   
   
   }
   button{
      width: 10%;
      padding: 10px;
      border: none;
      background-color: $accent;
      color: $letter;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
   }
}
.modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #111111bd;
   display: flex;

   .modal_container {
      margin: auto;
      width: 50%;
      height: 300px;
      background-color: #ffffff;
      border-radius: 10px;
   }

   form {
      text-align: center;
      width: 80%;
      margin: 5% auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;

      input {
         height: 40px;
         margin: 10px;
         border: none;
         width: 90%;
         border-radius: 5px;
         padding: 5px;
      }
      a {
         width: 100%;
         text-align: center;

         button {
            width: 60%;
            border: none;
            font-size: 30px;
            background: $accent;
            color: white;
            border-radius: 10px;
            padding: 10px 10px;
            box-sizing: content-box;
            cursor: pointer;
         }
      }
   }
}

.card {
   display: grid;
   /* grid-template-rows: min-content 60px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr )); */
   grid: min-content 60px / repeat(5, 1fr);
   margin: 0 50px;
   place-items: center;

   span {
      font-weight: bold;
      font-size: 1.2rem;
      background-color: $accent;
      justify-self: stretch;
      color: $letter;
      padding: 10px;
      text-align: center;
   }

   &:not(:first-of-type) span {
      display: none;
   }

   p {
      text-align: center;
      grid-row: 2 / 3;
      padding-right: 5px;
   }

   .btns {
      display: grid;
      grid: 1fr / 1fr 1fr;
      place-items: center;
      gap: 20px;
      grid-row: 2 / 3;

      svg {
         background: #e4e4e4;
         border-radius: 10px;
         padding: 5px 10px;
         box-sizing: content-box;
         cursor: pointer;
         color: $accent;
         
         &:nth-child(2){
            color: rgb(139, 0, 0);
         }
         
         &:hover{
            background-color: $accent ;
            color: $letter;
         }
      }
   }

   &:nth-child(2n) {
      background-color: $bg_card;
   }
}

// Media Querys

//Tablet & Mobile
@media (max-width: 1000px) {
   .add {
      grid: repeat(7, 40px) / 1fr;
   }
   .table {
      display: grid;
      grid-template-columns: repeat(2 1fr);
      gap: 50px;
   }

   .card {
      background-color: $bg_card;
      grid: repeat(7, min-content 60px) / 1fr;
      &:not(:first-of-type) span {
         display: inline;
      }

      p,
      .btns {
         grid-row: auto;
      }
      span {
         background: $accent;
         color: $letter;
      }
   }
}

//Tablet
@media (min-width: 480px) and (max-width: 1000px) {
   .add {
      grid: repeat(7, 40px) / 1fr;
      width: 60%;
      margin: auto;
   }
}
